[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.9"
